.Header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    display: flex;
    &__title {
      text-align: center;
      &__main {
        color: #3ccace;
      }
      &__sub {
        color: #000;
      }
    }
  }
}