.filp {
  background-color: #ecf6f7;
  width: 100%;
  height: auto;
  padding-bottom: 30px;
}
.card{
  background-color: #fff;
  width: 700px;
  margin: auto;
  padding: 24px;
}

.details {
  margin: 20px 20px;
}
.name {
  font-weight: bold;
  font-size: 30px;
  border-bottom: 1px solid #c0c0c0;
}
.role {
  margin-top: 20px;
}
.contact {
  margin-top: 10px;
}

.favorite-lists {
  margin-top: 5px;
  &__list {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    &__name {
      color: #000;
      font-size: 20px;
      border-bottom: none;
      margin-left: 10px;
    }
    &__pr {
      color: #000;
      border-bottom:none;
      margin-left: 20px;
    }
  }
  & :hover {
    background-color: #ecf6f7;
  }
}

.favorite-name {
}

.mypage-favorite {
  margin-top: 30px;
}