body {
  background-color: #f5f5f5;
  color: #5e5e5e;
}

.contents-row {
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 370px;
}

.container h1 {
  text-align: center;
  padding: 1em 0;
}

.new_user {
  padding: 0 1.5em;
}

.field {
  margin-bottom: 0.75em;
  width: 100%;
}

.form {
  background-color: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.actions {
  margin: 2em 0;
  width: 100%;
  padding: 0 0 2em 0;
}

.actions .submit {
  background-color: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 100%;
}

.submit:hover {
  background-color: #ee3e52;
}

.edit-container {
  background-color: #fff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 500px;
}

.edit-container h1 {
  text-align: center;
  padding: 1em 0;
}

.cancel-container {
  background-color: #fff;
  margin: 3em auto;
  padding: 0 1em;
  max-width: 500px;
}

.cancel-container h3 {
  text-align: center;
  padding: 1em 0;
}

.cancel-container link{
  padding: 2em 0;
}

.home-container {
  background-color: #f16272;
  margin: 3em auto;
  padding: 0.75em 1em 0 1em;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.home {
  width: 300px;
  background-color: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
}